@media(min-width: 576px) {
    .btn {
        font-size: x-large;
    }
    /* section1 */
    #section1 {
        flex-direction: column;
    }
    #section1 h1 {
        font-size: xx-large;
    }
    #section1 p {
        font-size: x-large;
    }
    /* section2 */
    #section2 {
        display: block;
        font-size: larger;
    }
    #div_image {
        display: none;
    }
    #div_list ul li {
        text-align: center;
    }
    /* section3 */
    #section3_div_container {
        display: flex;
        flex-flow: column wrap;
    }
    /* section4 */
    #section4 {
        font-size: x-large;
    }
    footer div i {
        font-size: 3rem;
    }
}